* {
    margin: 0;
    padding: 0;
  }
  
  body {
    /* font-family: 'Josefin Sans', sans-serif; */
    font-family: 'Poppins', sans-serif;
    max-height: 100vh;
    background-color: #EAEBED;
  } 
  /* Outros estilos específicos do modo escuro */
  
  
  /*nav */
  header {
    padding: 1.7rem 1rem;
    backdrop-filter: blur(10px);
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin: auto;
    align-items: center;
  }
  
  .logo {
    font-size: 1.3rem;
    font-weight: 800;
  }
  
  .logo a {
    color: #113D6B;
    text-decoration: none;
  }
  
  nav a {
    color: #113D6B;
    text-decoration: none;
    font-size: .97rem;
    font-weight: 600;
    letter-spacing: .7px;
    padding: 1rem;
    padding: 0.4rem 1rem;
  }
  
  nav a.active,
  nav a:hover {
    background-color: #113D6B;
    color: #fff;
    border-radius: 1rem;
    transition: all.3s ease-in-out;
  }
  
  .switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 64px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #73C0FC;
    transition: .4s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 20px;
    left: 2px;
    bottom: 2px;
    z-index: 2;
    background-color: #e8e8e8;
    transition: .4s;
  }
  
  .sun svg {
    position: absolute;
    top: 6px;
    left: 36px;
    z-index: 1;
    width: 24px;
    height: 24px;
  }
  
  .moon svg {
    fill: #73C0FC;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    width: 24px;
    height: 24px;
  }
  
  /* .switch:hover */.sun svg {
    animation: rotate 15s linear infinite;
  }
  
  @keyframes rotate {
   
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* .switch:hover */.moon svg {
    animation: tilt 5s linear infinite;
  }
  
  @keyframes tilt {
   
    0% {
      transform: rotate(0deg);
   }
  
    25% {
      transform: rotate(-10deg);
   }
  
    75% {
      transform: rotate(10deg);
   }
  
    100% {
      transform: rotate(0deg);
   }
  }
  
  .input:checked + .slider {
    background-color: #183153;
  }
  
  .input:focus + .slider {
   box-shadow: 0 0 1px #183153;
  }
  
  .input:checked + .slider:before {
   transform: translateX(30px);
  }
  
  #click {
    display: none;
  }
  
  .menu {
    display: none;
  }
    /* Outros estilos específicos do modo escuro */
    
  
  /*nav */
  header {
      padding: 1.7rem 1rem;
      backdrop-filter: blur(10px);
      background-color: transparent;
      display: flex;
      justify-content: space-between;
      max-width: 80%;
      margin: auto;
      align-items: center;
  }
  
  .logo {
      font-size: 1.3rem;
      font-weight: 800;
  }
  
  .logo a {
      color: #113D6B;
      text-decoration: none;
  }
  
  nav a {
      color: #113D6B;
      text-decoration: none;
      font-size: .97rem;
      font-weight: 600;
      letter-spacing: .7px;
      padding: 1rem;
      padding: 0.4rem 1rem;
  }
  
  nav a.active,
  nav a:hover {
      background-color: #113D6B;
      color: #fff;
      border-radius: 1rem;
      transition: all.3s ease-in-out;
  } 
  #click {
      display: none;
  }
  
  .menu {
      display: none;
  }

  /* dark mode*/
.darkmode {
    background-color: #1f1f1f;
    color: #ffffff;
  }
  
  .darkmode .main {
    background-color: #1f1f1f;
    color: #ffffff;
  }
  
  .darkmode .menu {
    background-color: #1f1f1f;
    color: #ffffff;
  }
.darkmode nav a {
    color: #e8e8e8
}
.darkmode nav a.active,
nav a:hover {
    background-color: #73C0FC;
}
.darkmode .logo a{
    color: #73C0FC;
}